{% extends 'main.html' %}


{% block content %}
<h1>Home</h1>
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>



<div class = "home-container">
    <div>
       {% include 'templates/topics_component.html' %}
    </div>


    <div>
        <h3>{{room_count}} Rooms available</h3>
        <a href="{% url 'create-room' %}">Create Room</a>
   

        {% include 'templates/feed_component.html' %}
    </div>


    <div>
       {% include 'templates/activity_component.html' %}
    </div>

    

  

</div>

{% endblock %}
